:root {
    --colour-one: #6a2aff;
    --colour-two: #00afb9;
    --colour-three: #e2e4f6;
    --colour-four: #e7c8dd;
    --colour-five: #dbafc1;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
}
li a{
    display: block;
    background-color: var(--colour-two);
}
li a:hover {
    background-color: var(--colour-one);
    color: white;
  }
